
h1 {
    color:orchid;
    border-color: beige;
    border-style: groove;
    border-spacing: 10px
}
p1 {
    color:orchid;
    border-color: beige;
    border-style: groove;
    border-spacing: 12px
}